<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.developer.healthkit</key>
	<true/>
	<key>com.apple.developer.healthkit.access</key>
	<array>
		<string>health-records</string>
	</array>
	<key>com.apple.developer.healthkit.background-delivery</key>
	<true/>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>$(APP_GROUP_SIDESTORE)</string>
		<string>$(APP_GROUP_ALTSTORE)</string>
	</array>
	<key>get-task-allow</key>
	<true/>
	<key>com.apple.developer.kernel.increased-memory-limit</key>
	<true/>
	<key>keychain-access-groups</key>
	<array>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.1</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.2</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.3</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.4</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.5</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.6</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.7</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.8</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.9</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.10</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.11</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.12</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.13</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.14</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.15</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.16</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.17</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.18</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.19</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.20</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.21</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.22</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.23</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.24</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.25</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.26</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.27</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.28</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.29</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.30</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.31</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.32</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.33</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.34</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.35</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.36</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.37</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.38</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.39</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.40</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.41</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.42</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.43</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.44</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.45</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.46</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.47</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.48</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.49</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.50</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.51</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.52</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.53</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.54</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.55</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.56</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.57</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.58</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.59</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.60</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.61</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.62</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.63</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.64</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.65</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.66</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.67</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.68</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.69</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.70</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.71</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.72</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.73</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.74</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.75</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.76</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.77</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.78</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.79</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.80</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.81</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.82</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.83</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.84</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.85</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.86</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.87</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.88</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.89</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.90</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.91</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.92</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.93</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.94</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.95</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.96</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.97</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.98</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.99</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.100</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.101</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.102</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.103</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.104</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.105</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.106</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.107</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.108</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.109</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.110</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.111</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.112</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.113</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.114</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.115</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.116</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.117</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.118</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.119</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.120</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.121</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.122</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.123</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.124</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.125</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.126</string>
		<string>$(AppIdentifierPrefix)com.tyu.cc886751.shared.127</string>
	</array>
</dict>
</plist>
